<h1>this is index</h1>

<form action="/title">
  <label for="title">title</label>
  <input type="text" name="title" id="title">
  <button type="submit" name="button">Send</button>
</form>

<form action="/scrabble">
  <label for="scrabble-score">scrabble-score</label>
  <input type="text" name="scrabble-score" id="scrabble-score">
  <button type="submit" name="button">Get Score</button>
</form>

<form action="/replace">
  <label for="sentence">Whatcha wanna say?</label>
  <input type="text" name="sentence" id="sentence">

  <label for="old-word">Old word</label>
  <input type="text" name="old-word" id="old-word">

  <label for="new-word">New word</label>
  <input type="text" name="new-word" id="new-word">

  <button type="submit" name="button">Replace</button>
</form>
